
<div class="p-1">
    <mat-card class="p-0"> 
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
            <h2>Page Access </h2> 
            <!-- <button mat-raised-button color="primary"  >Add Sorting</button> -->
        </div>
        <mat-divider></mat-divider>
        <div class="mat-table admin-table">
            <div class="mat-header-row">
                <div class="mat-header-cell" style="color: black;">Page Name</div>
                <div class="mat-header-cell" style="color: black;">Admin</div>
                <div class="mat-header-cell" style="color: black;">Customer</div> 
                <div class="mat-header-cell" style="color: black;">User</div> 
            </div>
            <div *ngFor="let item of settingData " class="mat-row">
                <div class="mat-cell">{{item.pageName}}</div>
                <div class="mat-cell">
                    <mat-checkbox color="primary" (change)="changeStatus(item, 'admin', $event)" class="example-margin" [checked]="item.admin" ></mat-checkbox>
                </div>  
                <div class="mat-cell">
                    <mat-checkbox color="primary" (change)="changeStatus(item, 'customer', $event)" class="example-margin" [checked]="item.customer" ></mat-checkbox>
                </div>   
                <div class="mat-cell">
                    <mat-checkbox color="primary" (change)="changeStatus(item, 'user',$event)" class="example-margin" [checked]="item.user" ></mat-checkbox>
                </div>  
            </div>
        </div>
    </mat-card>

    <!-- <div *ngIf="categories.length > 0" fxLayout="row wrap">
        <div fxFlex="100"> 
            <mat-card class="p-0 text-center">           
                <pagination-controls class="product-pagination" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
            </mat-card>
        </div>
    </div> -->
</div>

