<h1 mat-dialog-title *ngIf="!isEdit">Add Orginization</h1> 
<h1 mat-dialog-title *ngIf="isEdit">Edit Orginization</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <div mat-dialog-content>
        <div fxLayout="row wrap" style="justify-content: space-between;">
            <!-- <div fxFlex="100">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Orginization Name</mat-label>
                    <input matInput formControlName="org_name" required>
                    <mat-error *ngIf="form.controls.org_name.errors?.required">Orginization Name is required</mat-error> 
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Domain Name</mat-label>
                    <input matInput formControlName="orh_url" required>
                    <mat-error *ngIf="form.controls.orh_url.errors?.required">Domain Name is required</mat-error> 
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>product_file_location</mat-label>
                    <input matInput formControlName="product_file_location" required>
                    <mat-error *ngIf="form.controls.product_file_location.errors?.required">Domain Name is required</mat-error> 
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>product_file_cron_time</mat-label>
                    <input matInput formControlName="product_file_cron_time" required>
                    <mat-error *ngIf="form.controls.product_file_cron_time.errors?.required">Domain Name is required</mat-error> 
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>trans_file_location</mat-label>
                    <input matInput formControlName="trans_file_location" required>
                    <mat-error *ngIf="form.controls.trans_file_location.errors?.required">Domain Name is required</mat-error> 
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>trans_file_cron_time</mat-label>
                    <input matInput formControlName="trans_file_cron_time" required>
                    <mat-error *ngIf="form.controls.trans_file_cron_time.errors?.required">Domain Name is required</mat-error> 
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>email_id</mat-label>
                    <input matInput formControlName="email_id" required>
                    <mat-error *ngIf="form.controls.email_id.errors?.required">Domain Name is required</mat-error> 
                </mat-form-field>
            </div>  -->



            <div fxFlex.gt-sm="50" class="widthwrap">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Orginization Name</mat-label>
                    <input matInput formControlName="org_name" required>
                    <mat-error *ngIf="form.controls.org_name.errors?.required">Orginization Name is required</mat-error> 
                </mat-form-field>
            </div>
           
            <div fxFlex.gt-sm="50" class="widthwrap">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Website Url Name</mat-label>
                    <input matInput formControlName="org_url" required>
                    <mat-error *ngIf="form.controls.org_url.errors?.required">Domain Name is required</mat-error> 
                </mat-form-field>
            </div>
            <div fxFlex.gt-sm="50" class="widthwrap">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>product_file_location</mat-label>
                    <input matInput formControlName="product_file_location" required>
                    <mat-error *ngIf="form.controls.product_file_location.errors?.required">Domain Name is required</mat-error> 
                </mat-form-field>
            </div>

            <div fxFlex.gt-sm="50" class="widthwrap">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>product_file_cron_time</mat-label>
                    <input matInput formControlName="product_file_cron_time" required>
                    <mat-error *ngIf="form.controls.product_file_cron_time.errors?.required">Domain Name is required</mat-error> 
                </mat-form-field>
            </div>


            <div fxFlex.gt-sm="50" class="widthwrap">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>trans_file_location</mat-label>
                    <input matInput formControlName="trans_file_location" required>
                    <mat-error *ngIf="form.controls.trans_file_location.errors?.required">Domain Name is required</mat-error> 
                </mat-form-field>
            </div>


            <div fxFlex.gt-sm="50" class="widthwrap">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>trans_file_cron_time</mat-label>
                    <input matInput formControlName="trans_file_cron_time" required>
                    <mat-error *ngIf="form.controls.trans_file_cron_time.errors?.required">Domain Name is required</mat-error> 
                </mat-form-field>
            </div>


            <div fxFlex.gt-sm="50" class="widthwrap">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>email_id</mat-label>
                    <input matInput formControlName="email_id" required>
                    <mat-error *ngIf="form.controls.email_id.errors?.required">Domain Name is required</mat-error> 
                </mat-form-field>
            </div>


            <div fxFlex.gt-sm="50" class="widthwrap" style="align-items: center;
            display: flex;
            padding: 0px 0px 10px 10px;
            margin-bottom: 16px;">
                <mat-checkbox formControlName="status" color="primary">Status</mat-checkbox>
            </div>

            <!-- <div fxFlex.gt-sm="50">
            </div> -->







         
        </div>
    </div>
    <div mat-dialog-actions>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100"> 
            <button mat-raised-button color="warn" type="button" mat-dialog-close>Close</button>
            <button mat-raised-button color="primary" type="submit">Save</button>
        </div> 
    </div>
</form>

<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <div mat-dialog-content>
        <div mat-dialog-actions class="bt-marging">
            <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100"> 
                <button mat-raised-button color="primary" type="submit">Grouped Synonym</button>
           
               
            </div> 
        </div>
        <h1 mat-dialog-title>Edit Synonym</h1>
        <div fxLayout="row wrap">
            <p class="for-text-sty">Grouped synonyms specify equvalent keyword that will return the same result for all keywords </p>
        </div>
        <div fxLayout="row wrap">
            <p class="for-text-sty-ex">Example: Searching for "t-shirts", "crew", "leo" and "v-neck" will all return the same result </p>
        </div>
        <div fxLayout="row wrap">
            
         
            <div fxFlex="100">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Synonyms</mat-label>
                    <textarea matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="2"
                    cdkAutosizeMaxRows="10"></textarea>
                    <mat-error *ngIf="form.controls.settingName.errors?.required">Name is required</mat-error> 
                </mat-form-field>
            </div> 
          
        
        </div>
    </div>
    <div mat-dialog-actions>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100"> 
            <button mat-raised-button color="warn" type="button" mat-dialog-close>Close</button>
            <button mat-raised-button color="primary" type="submit">Save Changes</button>
        </div> 
    </div>
</form> -->


<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <div mat-dialog-content>
        <div mat-dialog-actions class="bt-marging">
            <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100"> 
                <button mat-raised-button color="primary" type="submit">One Way Synonym</button>
               
            </div> 
        </div>
        <h1 mat-dialog-title>Edit Synonym</h1>
        <div fxLayout="row wrap">
            <p class="for-text-sty">One way synonyms are usefull for including for specific results in a broadband search query </p>
        </div>
        <div fxLayout="row wrap">
            <p class="for-text-sty-ex">Example: When searching for "fruits", you want to show results for "strawberry","banana", "apple" but you 
                would not want banana to show up when someone show for apple 
            </p>
        </div>
        <div fxLayout="row wrap">
            
        
            <div fxFlex="100" fxFlex.gt-sm="45" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Synonyms</mat-label>
                    <textarea matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="2"
                    cdkAutosizeMaxRows="10"></textarea>
                    <mat-error *ngIf="form.controls.settingName.errors?.required">Name is required</mat-error> 
                </mat-form-field>
            </div> 
            <div fxFlex="100" fxFlex.gt-sm="10" class="px-1">
                <span class="material-icons text-span"> arrow_circle_right </span>
            </div> 
            <div fxFlex="100" fxFlex.gt-sm="45" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Synonyms</mat-label>
                    <textarea matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="2"
                    cdkAutosizeMaxRows="10"></textarea>
                    <mat-error *ngIf="form.controls.settingName.errors?.required">Name is required</mat-error> 
                </mat-form-field>
            </div> 
        
        </div>
    </div>
    <div mat-dialog-actions>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100"> 
            <button mat-raised-button color="warn" type="button" mat-dialog-close>Close</button>
            <button mat-raised-button color="primary" type="submit">Save Changes</button>
        </div> 
    </div>
</form> -->